.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    overflow: scroll;
}

.header {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
}

.header_logo_box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 20%;
    color: #005E91;
    background-image: linear-gradient(#005E91 50%, #000000 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.profession {
    font-size: 1.2rem;
    font-weight: 500;
}

.header_details {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

.header_details_box {
    display: flex;
    flex-direction: column;
}

.headerDesignLabel {
    width: 100px;
    height: 100px;
    background-color: rgba(92, 117, 147);
    position: absolute;
    top: 0;
}

.headerLabel {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(0, 81, 134);
}

.headerLabelText {
    font-size: .9rem;
}

.header_img_box {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_img_box img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.body {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(234, 244, 255);
    overflow: scroll;
}

.left_section {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 6%;
}

.right_section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    gap: 6%;
}

.section_box {
    display: flex;
    flex-direction: column;
    /* gap: 5%; */
}

.skill_box {
    margin-left: 20%;
    border-radius: 16px;
    background-color: rgba(92, 117, 147);
    color: white;
    padding: 5%;
}

.section_title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2%;
}

.section_text {
    font-size: .95rem;
    line-height: 150%;
    word-break: break-all;
}

.skill_item {
    display: flex;
    justify-content: space-between;
}

.skill_name {
    font-size: .9rem;
    font-weight: 800;
}

.skill_level {
    font-size: .85rem;
    /* color: #444; */
}

.work_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.work_position {
    font-weight: 600;
    font-size: 1rem;
}

.work_company {
    font-size: .9rem;
}


.work_date {
    font-size: .85rem;
    color: #555;
}

.edu_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.edu_degree {
    font-weight: 600;
}

.edu_school {
    font-size: .9rem;
}

.edu_date {
    font-size: .85rem;
    color: #555;
}