.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #020617, #3f3f3f, #020617);
    color: rgb(0, 0, 0);
}

.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.title {
    color: white;
    font-weight: 900;
}

.lgtbtn {
    background-color: rgb(87, 87, 87);
    color: white;
    font-weight: 900;
    border-radius: 16px;
    padding: .5%;
    transition: all ease .5s;
}

.lgtbtn:hover {
    transform: translateY(-5px);
    background-color: white;
    color: black;
}

.form {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    border-radius: 10px;
    background: #d1d1d1;
    color: rgb(0, 0, 0);
    overflow: scroll;
}

.sectionTitle {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.row {
    width: 100%;
    display: flex;
    gap: 16px;
}

.input {
    flex: 1;
}

.fullInput {
    width: 100%;
}

.block {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: #c0c0c0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.submit {
    width: 200px;
    margin-top: 10px;
}